[defaults]
# Get the inventory for the currenct playbook from current location
inventory=./hosts
# Doent check the key while doing the connection
host_key_checking=False
# Execute the module on hosts parallelly on 7 host (1gb per 10 forks - requirement)
forks=7
